In [3]:
!pip install faker

Collecting faker
  Downloading Faker-28.1.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /opt/anaconda3/lib/python3.12/site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-28.1.0-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 4.4 MB/s eta 0:00:0000:0100:01
Installing collected packages: faker
Successfully installed faker-28.1.0

In [13]:
import pandas as pd
import numpy as np
import faker

# Initialize Faker for generating fake names
fake = faker.Faker()

# Generate sample data
np.random.seed(42)
dates = pd.date_range(start="2023-01-01", end="2024-03-31", freq="D")
categories = ["cosmetics", "household", "grocery", "fastfoods", "clothes", "utensils", "gardening"]
brands = ["Brand_X", "Brand_Y", "Brand_Z"]
customer_types = ["New", "Regular"]

# Generate a list of unique fake names
unique_names = [fake.name() for _ in range(50)]  # Generate 50 unique names

data = {
    "Date": np.random.choice(dates, size=200),
    "Customer_Type": np.random.choice(customer_types, size=200),
    "Product_ID": np.random.randint(1000, 9999, size=200),  # Product ID between 1000 and 9999
    "Category": np.random.choice(categories, size=200),
    "Product_Price": np.random.uniform(10, 1000, size=200),  # Product price between 10 and 1000
    "Quantity_Sold": np.random.randint(1, 10, size=200),
    "Customer_Name": np.random.choice(unique_names, size=200),  # Use the list of unique names
    "Discount": np.random.uniform(0, 0.2, size=200),  # Discount as a fraction (0 to 20%)
    "Net_Profit": np.random.uniform(5, 500, size=200),  # Net profit between 5 and 500
    "Transaction_ID": np.random.randint(100000, 999999, size=200),  # Transaction ID between 100000 and 999999
    "Brand_Name": np.random.choice(brands, size=200)
}

# Create DataFrame
df = pd.DataFrame(data)

# Save DataFrame to CSV file
df.to_csv('generated_data.csv', index=False)

# Display the first few rows of the DataFrame in Jupyter Notebook
df.head(20)

,Date,Customer_Type,Product_ID,Category,Product_Price,Quantity_Sold,Customer_Name,Discount,Net_Profit,Transaction_ID,Brand_Name
0,2023-04-13,Regular,5911,cosmetics,286.965872,6,Danielle Johnson,0.027364,484.594538,869299,Brand_Z
1,2024-03-11,Regular,4987,grocery,417.094654,2,Mary Phillips,0.190047,376.077657,965962,Brand_X
2,2023-12-15,Regular,7015,fastfoods,606.754063,8,Jay Fisher,0.089201,69.392689,516715,Brand_Z
3,2023-09-28,Regular,2218,household,278.248066,5,Sandra Young,0.037027,380.340282,471000,Brand_Z
4,2023-04-17,Regular,5496,cosmetics,141.853274,7,Debra Robinson,0.108380,17.170524,313567,Brand_Z
5,2023-03-13,Regular,5735,gardening,85.438376,2,Debra Robinson,0.174589,15.951158,614933,Brand_X
6,2023-07-08,New,5555,gardening,941.126509,8,Matthew Martinez,0.146445,165.187058,695923,Brand_X
7,2023-01-21,Regular,9050,utensils,422.472667,2,Thomas Malone,0.161312,246.878379,994235,Brand_Y
8,2023-04-13,Regular,4446,clothes,585.350995,4,Justin Robinson,0.131757,386.351672,316184,Brand_Z
9,2023-05-02,New,2045,fastfoods,919.984786,1,Robin Wade,0.138455,343.231211,398090,Brand_Y
10,2023-08-03,Regular,7893,cosmetics,91.920936,5,April Lawson,0.169839,225.721840,417348,Brand_Y
11,2023-11-27,New,2693,gardening,877.894871,9,Christina Brewer,0.049934,140.445200,282958,Brand_X
12,2023-03-29,New,4436,clothes,556.071994,1,Sandra Young,0.097885,498.576628,377707,Brand_X
13,2024-01-08,Regular,9754,gardening,173.185919,9,Brett Anderson,0.044242,215.959745,192324,Brand_Y
14,2023-04-10,New,6895,cosmetics,417.142565,8,David Martin,0.197534,228.436577,323536,Brand_Z
15,2023-12-26,New,4354,grocery,779.826261,6,Danielle Johnson,0.188812,85.993791,857232,Brand_X
16,2023-06-01,New,1225,cosmetics,485.566381,7,Beverly Evans,0.007885,398.430727,371991,Brand_Z
17,2023-05-11,New,5893,utensils,985.433190,3,Christina Moore,0.141115,348.372702,126155,Brand_Z
18,2023-05-30,Regular,8022,cosmetics,382.971580,1,Jay Fisher,0.185050,114.280958,441815,Brand_Y
19,2023-11-05,New,6600,cosmetics,752.082517,5,Bryan Davis,0.036115,45.778618,741179,Brand_Y

In [15]:
import os
# Print the current working directory
print("Current Working Directory:", os.getcwd())

# List all files in the current directory to confirm 'dataset.csv' is there
print("Files in Current Directory:", os.listdir())

Current Working Directory: /Users/lanisha/Desktop/ML/BrainwaveTask1
Files in Current Directory: ['Task1_Brainwave.ipynb', '.DS_Store', 'README.md', 'generated_data.csv', '.ipynb_checkpoints', '.git']

In [21]:
import pandas as pd

# Load your dataset
data = pd.read_csv('/Users/lanisha/Desktop/ML/BrainwaveTask1/generated_data.csv')

# Step 1: Remove rows with null values
cleaned_data = data.dropna()

# Step 2: Remove duplicate rows
cleaned_data = cleaned_data.drop_duplicates()

# Step 3: Drop non-useful columns (including 'transaction ID' and 'brand name')
columns_to_remove = ['Transaction_ID', 'Brand_Name']
cleaned_data = cleaned_data.drop(columns=columns_to_remove)

# Optional Step 4: Convert columns to appropriate data types
cleaned_data['Product_Price'] = cleaned_data['Product_Price'].astype(float)
cleaned_data['Quantity_Sold'] = cleaned_data['Quantity_Sold'].astype(int)

# Optional Step 5: Verify the cleaned data
print(cleaned_data.info())  # Check data types and non-null counts
print(cleaned_data.head())  # View the first few rows of the cleaned data

# Save the cleaned data to a new CSV file (optional)
cleaned_data.to_csv('cleaned_dataset.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           200 non-null    object
 1   Customer_Type  200 non-null    object
 2   Product_ID     200 non-null    int64
 3   Category       200 non-null    object
 4   Product_Price  200 non-null    float64
 5   Quantity_Sold  200 non-null    int64
 6   Customer_Name  200 non-null    object
 7   Discount       200 non-null    float64
 8   Net_Profit     200 non-null    float64
dtypes: float64(3), int64(2), object(4)
memory usage: 14.2+ KB
None
         Date Customer_Type  Product_ID   Category  Product_Price  \
0  2023-04-13       Regular        5911  cosmetics     286.965872
1  2024-03-11       Regular        4987    grocery     417.094654
2  2023-12-15       Regular        7015  fastfoods     606.754063
3  2023-09-28       Regular        2218  household     278.248066
4  2023-04-17       Regular        5496  cosmetics     141.853274

   Quantity_Sold     Customer_Name  Discount  Net_Profit
0              6  Danielle Johnson  0.027364  484.594538
1              2     Mary Phillips  0.190047  376.077657
2              8        Jay Fisher  0.089201   69.392689
3              5      Sandra Young  0.037027  380.340282
4              7    Debra Robinson  0.108380   17.170524